<mat-card appearance="outlined">
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
  <mat-card-header>
      <h2>Cursos Disponiveis</h2>
  </mat-card-header>
  <mat-card-content>



    <div ngIf="courses$ | async; as courses">
      <mat-table [dataSource]="courses" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let course"> {{ course.id }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let course"> {{ course.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Caegoria </mat-header-cell>
          <mat-cell *matCellDef="let course"> {{ course.category }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
<ng-template>
  <mat-spinner></mat-spinner>
</ng-template>







  </mat-card-content>

</mat-card>
